<!-- <div class="center">
  <button mat-flat-button (click)="AllMovies()">All Movies</button>
  <button mat-flat-button (click)="AllMovies()">All Actors</button>
</div> -->


<div class="center">
  <mat-button-toggle-group name="movie-actor">
    <mat-button-toggle (click)="AllMovies()" value="moviesList">All Movies</mat-button-toggle>
    <mat-button-toggle color="primary" (click)="AllActors()" value="actorsList">All Actors</mat-button-toggle>
  </mat-button-toggle-group>
</div>

<ng-container *ngIf="movies">

  <!-- Affichage boutons genre -->
  <div class="center">
    <mat-button-toggle-group name="genre" #idGenre="matButtonToggleGroup">
      <ng-container *ngFor="let genre of genresList">
        <mat-button-toggle (click)="filtreMovies(idGenre.value)" [value]="genre.IdGenre" #genreBtn>{{genre.Label}}
        </mat-button-toggle>
      </ng-container>
    </mat-button-toggle-group>
  </div>

  <!-- carte -->
  <div class="flex">
    <ng-container *ngIf="moviesList.length > 0">
      <ng-container *ngFor="let movie of moviesList">
        <mat-card class="movie-card">
          <mat-card-header>
            <div mat-card-avatar class="header-image"></div>
            <mat-card-title>{{movie.Title}}</mat-card-title>
            <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
          </mat-card-header>
          <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt=""> -->

          <img mat-card-image src="https://picsum.photos/id/972/600/400" alt="">
          <mat-card-content>
            <p>
              {{movie.ShortDescription}}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <a mat-flat-button color="accent" routerLink="/browse/details" (click)="getMovie(movie)">
              Details
            </a>
            <!-- <button mat-button>LIKE</button> -->
            <!-- <button mat-button>SHARE</button> -->
          </mat-card-actions>
        </mat-card>
      </ng-container>
    </ng-container>
  </div>
  <!-- carte -->

  <!-- Affichage movies -->
  <ng-container *ngFor="let movie of moviesList">
    <span>
      <div class="mat-body-2" *ngIf="movie">
        <a mat-button routerLink="/browse/details" (click)="getMovie(movie)">
          {{movie.Title}}
        </a>
        <div>{{movie.ShortDescription}}</div>
      </div>
    </span>
  </ng-container>
</ng-container>

<ng-container *ngIf="actors">
  <ng-container *ngFor="let actor of actorsList">
    <div class="mat-body-2" *ngIf="actor"><a mat-button routerLink="/browse/detailsActor"
        (click)="getActor(actor)">{{actor.FirstName}}
        {{actor.LastName}}</a></div>
  </ng-container>
</ng-container>






<mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">

</mat-paginator>
