<div class="center color-primary nav-plus">
  <mat-button-toggle-group name="movie-actor">
    <mat-button-toggle (click)="AllMovies()" value="moviesList" class="color-primary">All Movies</mat-button-toggle>
    <mat-button-toggle color="primary" (click)="AllActors()" value="actorsList" class="color-primary">All Actors
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>


<!-- <div id="homePage"></div>

<a routerLink="#homePage">
  <button class="btn-bottom-fix" mat-mini-fab color="primary">
    <mat-icon>arrow_upward</mat-icon>
  </button>
</a> -->


<ng-container *ngIf="movies">

  <!-- Affichage boutons genre -->
  <div class="center">
    <mat-button-toggle-group name="genre" #idGenre="matButtonToggleGroup" multiple>
      <ng-container *ngFor="let genre of genresList">
        <mat-button-toggle (change)="filtreMoviesGenre($event.value)" [value]="genre.IdGenre" #genreBtn>
          {{genre.Label}}
        </mat-button-toggle>
      </ng-container>
    </mat-button-toggle-group>
  </div>



  <!-- par date -->
  <!-- <div>
    <button mat-button [matMenuTriggerFor]="year">Browse per year</button>
    <mat-menu #year="matMenu">
      <button mat-menu-item>2020</button>
      <button mat-menu-item>1997</button>
    </mat-menu>
  </div> -->


  <mat-form-field class="margin">
    <mat-label>Year Filter</mat-label>
    <input matInput type="number" [(ngModel)]="year" placeholder="Ex. 2020">
  </mat-form-field>

  <!-- <form class="example-form">
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Year Filter</mat-label>
      <input matInput type="number" [(ngModel)]="year" placeholder="Ex. 2020">
    </mat-form-field>
  </form> -->

  <!-- carte ------------------------------------------------------------>
  <ng-container *ngIf="filteredMoviesList.length > 0">
    <div class="flex">
      <ng-container *ngFor="let movie of filteredMoviesList">
        <app-movie-card [movie]="movie"></app-movie-card>
      </ng-container>
    </div>
  </ng-container>

  <ng-container *ngIf="filteredMoviesList.length == 0">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </ng-container>
  <!-- carte ---------------------------------------------------------------------------->

</ng-container>



<ng-container *ngIf="actors">
  <ng-container *ngIf="actorsList.length > 0">
    <ng-container *ngFor="let actor of actorsList">
      <div class="mat-body-2" *ngIf="actor"><a mat-button routerLink="/detailsActor" (click)="getActor(actor)">
          {{actor.LastName}} {{actor.FirstName}}</a></div>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="actorsList.length == 0">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </ng-container>
</ng-container>






<!-- <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">

</mat-paginator> -->
