<a mat-flat-button routerLink="/browse">Retour</a>
<div class="center">
  <p class="mat-display-2">{{selectedMovie.Title}}</p>
  <p class="mat-body-1">{{selectedMovie.Trailer | urlVideo}}</p>
  <iframe src="{{selectedMovie.Trailer | urlVideo}}"></iframe>
  <iframe src="https://www.youtube.com/embed/vZ734NWnAHA?autoplay=1&mute=1"></iframe>
  <p class="mat-body-1">{{selectedMovie.Summary}}</p>
  <!-- <p class="mat-body-1">{{selectedMovie.IdMovie}} {{idmovie}}</p> -->

  <p>Cast:</p>

  <ng-container *ngFor="let actor of actorsListFromId">
    <div class="mat-body-2" *ngIf="actor">{{actor.FirstName}}
      {{actor.LastName}}</div>
  </ng-container>

</div>
