<div class="margin">
  <a mat-flat-button routerLink="/all">Retour</a>
</div>
<ng-container *ngIf="selectedMovie">
  <div class="center margin">
    <p class="mat-display-3">{{selectedMovie.Title}}</p>
    <p class="mat-title">Released on {{selectedMovie.ReleaseDate | affichageDate}}</p>

    <div class="margin">
      <ng-container *ngIf="(selectedMovie.Trailer | urlVideo)  !== ''">
        <iframe *ngIf="selectedMovie" [src]="selectedMovie.Trailer |urlVideo"></iframe>
      </ng-container>
    </div>

    <p class="mat-subheading-2">{{selectedMovie.Summary}}</p>

    <div class="margin">
      <div class="mat-title">Genders</div>
      <ng-container *ngFor="let genre of genresListFromId">
        <a mat-raised-button color="primary" *ngIf="genre" routerLink="/all"
          (click)="getGenre(genre)">{{genre.Label}}</a>
        <!-- <span class="mat-body-1" *ngIf="genre">
          {{genre.Label}} - </span> -->
      </ng-container>
    </div>

    <div class="margin mat-title">
      <span>Director.s: </span>
      <ng-container *ngFor="let director of directorsListFromId">
        <span *ngIf="directorsListFromId.length > 1">
          {{director.LastName}} {{director.FirstName}}, </span>
        <span *ngIf="directorsListFromId.length == 1">
          {{director.LastName}} {{director.FirstName}}</span>
        <span *ngIf="directorsListFromId.length == 0">/</span>
      </ng-container>
    </div>

    <div class="margin">
      <span class="mat-title">Cast:</span>
    </div>
    <span>
      <ng-container *ngFor="let actor of actorsListFromId">
        <span *ngIf="actor"><a mat-button [routerLink]="'/detailsActor/' + actor.IdCast" (click)="getActor(actor)"
            color="accent">
            {{actor.LastName}} {{actor.FirstName}}</a></span>
      </ng-container>
    </span>
    <div class="margin">
      <span class="mat-title">Crew:</span>
    </div>
    <span>
      <ng-container *ngFor="let crew of crewsListFromId">
        <span class="mat-body-1" *ngIf="crew">
          {{crew.LastName}} {{crew.FirstName}} as {{crew.Job}}, </span>
      </ng-container>
    </span>
  </div>
</ng-container>

<ng-container *ngIf="!selectedMovie">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-container>
