<mat-toolbar color="primary" class="navbar">
  <div>NetFlax</div>
  <div>
    <ng-container *ngFor="let link of links">
      <span *ngIf="link.isVisible || link.isVisible === undefined">
        <ng-container *ngIf="link.children?.length === 0 || link.children === undefined">
          <a mat-button *ngIf='link.url' [routerLink]="link.url">
            <div>
              {{link.title}}
            </div>
          </a>
          <div *ngIf='!link.url'>
            {{link.title}}
          </div>
        </ng-container>
        <ng-container *ngIf="link.children !== undefined && link.children.length > 0">
          <div>
            {{link.title}}
          </div>

          <span *ngFor="let child of link.children">
            <a mat-button *ngIf='child.url' [routerLink]="child.url">
              <div>
                {{child.title}}
              </div>
            </a>
            <div *ngIf='!child.url'>
              {{child.title}}
            </div>
          </span>

        </ng-container>
      </span>
    </ng-container>
  </div>
</mat-toolbar>
<mat-toolbar>

</mat-toolbar>
