/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #252525; color: #b0bec5; }
.center{
    // margin: 0 auto;
    text-align: center;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.color-primary{
    background-color: #D81B60;
}

.movie-card {
    width: 240px;
    margin: 1.8rem;
    transition-duration: 4s;
}
.movie-card:hover{
    width: 280px;
 }
  
.header-image {
background-size: cover;
}

.block{
    display: block;
}
.big-video{
    width: 100%;
    height: 100%;
}

.margin-left{
    margin-left: 2rem;
}
.margin {
    margin: 2rem;
}






// .btn-bottom-fix{
//     position: fixed;
//     top: 80%;
//     left: 95%;
//     z-index: 400;
// }